<div class="main-container">
    <div class="user-profile">
        <div style="display: flex; align-items: center; gap: 20px;"><div class="profile-sec">
            <img src="https://imgd.aeplcdn.com/664x374/n/cw/ec/124141/a8-l-exterior-right-front-three-quarter-3.jpeg?isig=0&q=80" alt="Profile-image">
        </div>
        <div class="username-status">
            <div class="user-name"><p>Test user</p>
            <small style="color: green;"> 💚Acive now</small>
            </div>
        </div></div>
        <div class="call-options">
            <div><button id="call"><i class='bx bx-video'></i></button></div>
            <div><button id="call"><i class='bx bx-phone' ></i></button></div>
        </div>
    </div>
    <div class="break"></div>
    <div class="chat-sec">
        <div class="chat-message"><p>test</p></div>
       <div class="input-control">
        <div class="message-input"><input type="text" placeholder="Type message here"></div>
        <div class="controls">
            <button id="controls-btn"><i class='bx bx-send' ></i></button>
            <button id="controls-btn"><i class='bx bx-plus-circle' ></i></button>
        </div>
       </div>
    </div>
</div>