<div class="main-container" *ngIf="selectedChat">
    <div class="user-profile">
        <div style="display: flex; align-items: center; gap: 20px;">
            <div style="display: flex; align-items: center;gap: 15px;" (click)="openProfile(selectedChat)">
                <div class="profile-sec" >
            <img [src]="selectedChat.imgUrl?selectedChat.imgUrl:'https://as2.ftcdn.net/v2/jpg/03/49/49/79/1000_F_349497933_Ly4im8BDmHLaLzgyKg2f2yZOvJjBtlw5.jpg'" alt="Profile-image">  
            </div>
        <div class="username-status">
            <div class="user-name"><p>{{selectedChat.userName}}</p>
                <p> <small style="color: green; font-size: small"> 💚Acive now</small></p>
            </div>
            </div>
        </div></div>
        <div class="call-options">
            <div><button id="call"><i class='bx bx-video'></i></button></div>
            <div><button id="call"><i class='bx bx-phone' ></i></button></div>
        </div>
    </div>
    <div class="break"></div>
    <div class="chat-sec">
        <div class="chat-message"><p>test</p></div>
       <div class="input-control">
        <div class="message-input"><input type="text" placeholder="Type message here"></div>
        <div class="controls">
            <button id="controls-btn"><i class='bx bx-send' ></i></button>
            <button id="controls-btn"><i class='bx bx-plus-circle' ></i></button>
        </div>
       </div>
    </div>
</div>
<div class="empty" *ngIf="!selectedChat">
    <p>Select the chat to see the conversation </p>
</div>