<div class="main-container">
    <div class="username-img">
        <div class="profile-img">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXd_H0QYcjS11VgnQYNfy3NOSZzWQ64h9v_iMGCJi_fw&s" alt="">
        </div>
        <div class="user-name"><p>Ajay</p></div>
    </div>
    <div class="options">
        <button id="option-btn"><i class='bx bx-shield' ></i></button>
        <button id="option-btn"><i class='bx bx-lock-alt' ></i></button>
        <button id="option-btn"><i class='bx bx-shape-square'></i></button>
    </div>
</div>