
<div class="wraper">
    <div class="main-container" >
        <div class="profile-sec">
            <img [src]="chatProfile.imgUrl?chatProfile.imgUrl:'https://as2.ftcdn.net/v2/jpg/03/49/49/79/1000_F_349497933_Ly4im8BDmHLaLzgyKg2f2yZOvJjBtlw5.jpg'" alt="Profile-image">
        </div>
        <div class="user-name-msg-preview ">
            <div class="user-name"><p>{{chatProfile.userName}}</p></div>
            <div class="last-message"><p style="text-overflow: ellipsis;overflow: hidden; text-align: justify;">Lorem ipsum dolor sit amet consectetur adip</p> </div>
        </div>
        <div class="time">
            <p>10.30 am</p>
        </div>
    </div>
    <div class="break"></div>
    
</div>