.search-bar{
    box-sizing: border-box;
    width: 100%;
    padding: 30px 20px ;
    /* background-color: rgba(68, 201, 190, 0.1); */
    display: flex;
    justify-content: start;
    align-items: center;

 
}
input#user-input{

    width: 100%;    
    padding: 10px 30px;
    font-size: 18px;
    border-radius: 30px;
    text-align: start;
    border: 1px solid black; 

}